.operation-interface {
    width: 40%;
    min-width: 320px;
    margin:  0 auto;
    display: flex;

    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* background-color: rgb(59, 59, 61); */

    h2{
        text-align: center;
    }
    
}

.operation-interface__inputs-container {
    aspect-ratio: 1/1;
    width: 50%;
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: #2e2e30;

    input {
        border: none;
        outline: unset;
        width: 100%;
        font-size: 100%;
        color: rgb(253, 249, 249);
        background-color: unset;
        text-align: center;
        font-family: Poppins, sans-serif;
    }

    h2 {
        width: 100%;
        color: rgb(129, 124, 124);
        
    }
}

.operation-interface__answer-container {
    margin: 20px 0 0;
   
    display: flex;
    width: 50%;
    height: 40px;
    gap: 10px;
    /* background-color: aqua; */
    input {
       
        width: 20%;
        border-radius: 18px;
        margin: 0;
        padding: 0;
        border: none;
        overflow: unset;
        outline: unset;
        text-align: center;
        color: white;
        background-color:#2e2e30;
        
       
       
    }
    .operation-interface_button {
        
        width: 80%;
        border-radius: 18px;
        border: none;
        outline: unset;
        background-color: unset;
        margin: 0;
        padding: 0;
        color: white;
        background-color:#2e2e30;
        cursor: pointer;
    }
}